<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        my-dispatcher {
          type = Dispatcher
          throughput = 100
          throughput-deadline-time = 0ms
        }
        akka {
          actor {
            deployment {
              /hello {
                dispatcher = akka.actor.default-fork-join-dispatcher
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>