<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--resizer {
    enabled = on
    upper-bound = 100
  }-->
  <!--nr-of-instances = 3-->
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            deployment {
              /hello {
                router = round-robin-pool
                nr-of-instances = 2
              }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>